data/16_21_poligoni_class2_E32/*.shp filter=lfs diff=lfs merge=lfs -text
data/16_21_poligoni_class2_E32/*.shx filter=lfs diff=lfs merge=lfs -text
data/16_21_poligoni_class2_E32/*.dbf filter=lfs diff=lfs merge=lfs -text
users.duckdb filter=lfs diff=lfs merge=lfs -text
dbsetup.py filter=lfs diff=lfs merge=lfs -text
